<!-- <div class="span8"> -->
<div class="btn-group btn-group-justified">
  <%= link_to "MILK RUNS", milkruns_path, class: "btn btn-primary" %>
  <%= link_to "FAMILIES", buyers_path, class: "btn btn-default" %>
</div>
<!-- </div> -->
