<h2>NEW MILK RUN</h2>

<div class="form-vertical">
	<%= simple_form_for @milkrun do |f| %>
		<%= f.input :date, order: [:month, :day, :year] %>
		<%= f.input :gasprice, input_html: { value: "3.29"} %>
		
	  <%= f.button :submit, 'Create', :class => 'btn-primary' %>
	<% end %>
</div>