<h2>NEW MILK RUN</h2>

<div class="form-vertical">
	<%= simple_form_for ([@cycle, @cycle.milkruns.build]) do |f| %>
	<% @last = @cycle.milkruns.all.last %>

	<div id="payment">

		<%= f.input :gasprice, label: false, input_html: { class: "form-control"} %>
		<span class="label">Gas Price</span>

		<div id="date">
			<%= f.input :date, default: @last.date + 3.weeks, order: [:month, :day, :year], label: false, class: "form-control" %>
		</div>

	</div>

	<div class="button">
  <%= f.button :submit, 'CREATE', :class => 'btn-primary' %>
	</div>
	<% end %>
	
</div>