<h3>
  <div class="newbutton2 btn-group">
    <%= link_to "ACTIVE", active_buyers_path, class: "btn btn-default" %>
    <%= link_to "INACTIVE", inactive_buyers_path, class: "btn btn-warning" %>
  </div>
  FAMILIES
  <span class="newbutton">
    <%= link_to "NEW FAMILY", new_buyer_path, class: "btn btn-primary" %>
  </span>
</h3>
</br>

<div class="span8">
<table class="table table-condensed">
  <thead>
    <tr>
      <th>NOTES</th>
      <th>NAME</th>
      <th></th>
      <th>EMAIL</th>
      <th>PHONE</th>
      <th>ALTERNATE</th>
      <th>BALANCE</th>
      <th>DEPOSIT</th>
    </tr>
  </thead>
  
  <% if !Buyer.inactive.nil? %>
    <%= render "buyers/inactive" %>
  <% else %>
    <tbody>
    </tbody>
  <% end %>

</table>
</div>